{% extends 'base.html.twig' %}

{% block head %}
    
{% endblock %}
{% block body %}

    <h1>Ma Gallery</h1>

            {% set i = 1  %}
            {%  for picture in pictures %}

                <h3>Image n°{{i}}</h3>

                {% set i=i+1%}
                {% set runtimeConfig = {"thumbnail": {"size": [picture.width, picture.height] }} %}
                    <img src="{{ asset(picture.src)| imagine_filter('thumb_50x50', runtimeConfig)}}" alt={{picture.alt}}/>
            {% endfor %}

    <div class="videoWrapper">
        <iframe width="560" height="349" src="http://www.youtube.com/embed/n_dZNLr2cME?rel=0&hd=1" frameborder="0" allowfullscreen></iframe>
    </div>

{% endblock %}